* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  /* padding: 20px; */
  margin: 20px 200px;
  align-items: center;
}
header ul {
  display: flex;
  align-items: center;
}
header li {
  list-style: none;
  /* padding: 10px; */
  margin: 35px;
}

.mary-r {
  color: #ff7b54;
}

.btn-primary {
  height: 64px;
  border-radius: 5px;
  background: #ff7b54;
  color: white;
  font-weight: 700;
  font-size: 20px;
  border: 0;
  padding: 15px 35px;
}

.banner {
  margin: 0px 200px;
  display: flex;
}
